body{
    width: 100%;
    height: 1250px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#firstPage{
    background-image: url(images/background.jpg);
}

#secondPage{
    background-image: url(images/background2.jpg);
}
*{
    margin: 0;
    padding: 0;
}
.container{
    padding-left: 5%;
    box-sizing: border-box;
    position: relative;
}
.navbar{
    width: 100%;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0; 
    background: linear-gradient(45deg,#5f7bc4, #bebcbe);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.logo{
    width: 100px;
    height: 100px;
}
nav{
    flex: 1;
    text-align: center;
}
nav ul li{
    display: inline;
    list-style: none;
    margin: 0px 50px;
}
nav ul li a{
    color: #333;
    font-size: 25px;
}
a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
}
.down{
    padding-top: 100%;
    color: lightskyblue;
    text-decoration: none;
}
.content h1{
    font-size: 60px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
    color: #232d60;
}
.content p{
    font-size: 25px;
    color: #161827;
}
.content{
    margin-left: 25px;
    margin-top: 10%;
    margin-right: 350px;
}
.content .btn{
    display: inline-block;
    background: linear-gradient(45deg,#5f7bc4, #bebcbe);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.15);
    margin-top: 20px;
    text-align: left;
}
.sr{
    padding-right: 10px;
    float: left;
    width: 252px;
    height: 336px;
}
.sl{
    padding-right: 10px;
    float: left;
}
.content2{
    margin-right: 602px;
    margin-top: 10%;
    margin-left: 20px;
}
.content2 p{
    font-size: 25px;
    color: #161827;
}
